<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Que-T Kompis!</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
	<link href="/static/css/style.css" rel="stylesheet">
</head>
<body>



<!-- Navigation -->
<nav class="navbar navbar-expand-md navbar-light bg-white sticky-top">
<div class="container-fluid">
	<a class="navbar-brand" href="#"><img src="/static/img/logo1_mini.png"></a>
	<button class="navbar-toggler" type="button" data-toggle="collapse"
	data-target="#navbarResponsive">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarResponsive">
		<ul class="navbar-nav ml-auto">
			<li class="nav-item active">
				<a class="nav-link" href="#">Home</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">About</a>
			</li>
		</ul>
	</div>
	<button type="button" class="btn btn-outline-secondary btn-lg">Logga in
	</button>
</div>
</nav>

<!--- Jumbotron -->

<div class="container-fluid">
<div class="row jumbotron">
	<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10">
		<p class="lead">Skriv in din plats och könummer så skickar vi en notis när det är din tur!</p>

{%block body %} {% endblock %}

	</div>
</div>
</div>

<!--- Welcome Section -->

<div class="container-fluid padding">
<div class="row welcome text-center">
	<div class="col-12">
		<h1 class="display-4">Queue Time</h1>
	</div>
	<hr>
	<div class="col-12">
		<p class="lead">Välkommen till vårt applikationsprojekt! Denna hemsida kommer att ta över världen. Just sayin'.</p>
	</div>
</div>
</div>

<!--- Three Column Section -->

<div class="container-fluid padding">
<div class="row text-center">
	<div class="col-12">
		<video src="/static/img/testvideo.mp4" controls>
		</video>
	</div>
<hr class="light-100">
</div>
</div>


<!--- Fixed background -->
<figure>
	<div class="fixed-wrap">
		<div id="fixed">
		</div>
	</div>
</figure>

<!--- Meet the team -->
<div class="container-fluid padding">
<div class="row welcome text-center">
	<div class="col-12">
		<h1 class="display-4">Meet the Team</h1>
	</div>
	<hr>
</div>
</div>

<!--- Cards -->

<div class="container-fluid padding">
<div class="row padding">
	<div class="col-md-4">
		<div class="card">
			<img class="card-img-top" src="/static/img/team1.png">
			<div class="card-body">
				<h4 class="card-title">Simon Velasquez</h4>
				<p class="card-text">Simon är mannen bakom idén! Efter mycket kötid fick han nog.</p>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="card">
			<img class="card-img-top" src="/static/img/team2.png">
			<div class="card-body">
				<h4 class="card-title">Sandra Schaub</h4>
				<p class="card-text">Sandra är html-expert och marknadsansvarig.</p>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="card">
			<img class="card-img-top" src="/static/img/team3.png">
			<div class="card-body">
				<h4 class="card-title">Hanna</h4>
				<p class="card-text">Hanna är vår back-end developer. Den trygga ryggen att luta sig emot.</p>
			</div>
		</div>
	</div>
</div>
</div>

<!--- About -->

<div class="container-fluid padding">
<div class="row padding">
	<div class="col-md-12 col-lg-6">
		<h2>Vår Filosofi</h2>
		<p>Människor köar i genomsnitt 2tim per dag. Det måste få ett slut.</p>
		<p>Vi har tagit fram en revolutionerande teknik där du nu kan skriva in ditt könummer
		på vår app så håller den koll på när det är din tur. Du kan göra vad du vill under tiden
		du väntar, så kommer appen skicka en notis när det är din tur.</p>
		<br>
	</div>
	<div class="col-lg-6">
		<img src="/static/img/logogif.gif" class="img-fluid">
	</div>
</div>
<hr class="my-4">
</div>

<!--- Social Media -->

<div class="container-fluid padding">
<div class="row text-center padding">
	<div class="col-12">
		<h2>Sociala Medier</h2>
	</div>
	<div class="col-12 social padding">
		<a href="#"><i class="fab fa-facebook"></i></a>
		<a href="#"><i class="fab fa-twitter"></i></a>
		<a href="#"><i class="fab fa-instagram"></i></a>
		<a href="#"><i class="fab fa-linkedin"></i></a>
	</div>
</div>
</div>

<!--- Footer -->

<footer>
<div class="container-fluid padding">
<div class="row text-center">
	<div class="col-lg-6">
		<hr class="light">
		<h5>Kontakt</h5>
		<hr class="light">
		<p>08-123-45-67</p>
		<p>info@queuet.com</p>
		<p>Freetime road 1</p>
		<p>Umeå, Sverige</p>
	</div>
	<div class="col-lg-6">
		<hr class="light">
		<h5>Öppettider</h5>
		<hr class="light">
		<p>Måndag-Fredag: 8.00 - 16.00</p>
		<p>Lördag-Söndag: Stängt</p>
	</div>
	<div class="col-12">
		<hr class="light-100">
		<h5>&copy; queuet.com</h5>
	</div>
</div>
</div>
</footer>



</body>
</html>

